<div class="login-container">
  <mat-card>
    <mat-card-title align="center" class="login-form-title">Authentification</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onLogin()" class="login-form">
        <mat-form-field appearance="outline" >
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="username" name="username" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            [(ngModel)]="password"
            name="password"
            required
          />
        </mat-form-field>

        <button mat-raised-button color="primary" class="full-width">
          Log in
        </button>
      </form>
    </mat-card-content>
  </mat-card>

</div>
