<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> # </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="company">
    <th mat-header-cell *matHeaderCellDef> Name of company </th>
    <td mat-cell *matCellDef="let element"> {{element.company}} </td>
  </ng-container>

  <ng-container matColumnDef="entityId">
    <th mat-header-cell *matHeaderCellDef> Type of entity </th>
    <td mat-cell *matCellDef="let element"> {{getEntityName(element.entityId)}} </td>
  </ng-container>

  <ng-container matColumnDef="businessId">
    <th mat-header-cell *matHeaderCellDef> Business activity </th>
    <td mat-cell *matCellDef="let element"> {{getBusinessName(element.businessId)}} </td>
  </ng-container>

  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef> Country of incorporation </th>
    <td mat-cell *matCellDef="let element"> {{element.country}} </td>
  </ng-container>

  <ng-container matColumnDef="regNumber">
    <th mat-header-cell *matHeaderCellDef> Registration number </th>
    <td mat-cell *matCellDef="let element"> {{element.regNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
    	<button mat-button [matMenuTriggerFor]="processingmenu">Action</button>
		<mat-menu #processingmenu="matMenu">
		  <button mat-menu-item>Open in edit mode</button>
		  <button mat-menu-item>Proceed</button>
		  <button mat-menu-item>Reject</button>
		  <button mat-menu-item>Open documents</button>
		</mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

